@import 'tailwindcss';

@plugin '../../../hero.ts';

@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: Geist, Arial, Helvetica, sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  span {
    font-family: var(--font-geist-mono);
  }

  h1 {
    font-size: calc(var(--heroui-font-size-large) * 1.6);
  }

  h2 {
    font-size: calc(var(--heroui-font-size-large) * 1.2);
  }

  h3 {
    font-size: var(--heroui-font-size-large);
  }

  p {
    color: hsl(var(--heroui-foreground) / 80%);
  }
}

@layer utilities {
  .hidden-password {
    @apply [-webkit-text-security:disc];
  }
}
